:root {
    --text: #000;
    --main: #ffffff;
    --secondary: #bf5d54;
    --tertiary: #fff
}

body {
    background: var(--main) !important;
    color: var(--text) !important;
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 16px !important;
    line-height: 18px !important;
}

.overflow-hidden {
    overflow: hidden
}

.default {
    cursor: default;
}

.pointer {
    cursor: pointer;
}

#bodyHide {
    overflow: hidden;
}

.animate-line {
    will-change: transform;
    display: block;
    transform: translate3d(0,2000px,0);
}

.line-divide {
    margin-top: 16px
}

.header {
    display: flex;
    justify-content: space-around;
}

.logo {
    opacity: 0;
    pointer-events: none;
    background: var(--main);
    display: flex;
    z-index: 9999;
    text-align: center;
    justify-content: space-around;
}

.logo-underlay {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: white;
    z-index: 500;
    top: 0;
}

#go-home {
    cursor: pointer;
    pointer-events: all;
}

main {
    margin-bottom: 100px;
}

.hero {
    padding: 120px 40px 70px 40px
}

.hero-content {
    color: var(--text);
    width: 100%;
    margin-left: auto;
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.hero-col {
    width: calc((100% - 60px) / 3);
    min-width: 210px;
    display: inline-block;
    justify-content: left;
}

.hero-col>div {
    position: relative;
    overflow: hidden
}

.hero-rhs {
    text-align: right;
}

.code-grid {
    display: grid;
    grid-template-columns: repeat(1,1fr) !important;
    grid-template-rows: 27em !important;
    gap: 3em;
    padding: 0 1.5em;
    justify-content: center;
}

code {
    overflow: auto;
}

.tab-pane {
    margin-top: -445px; 
    height: 30em;
    width: 70%;
    overflow: auto;
    border: 2px solid #f3f3f3;
    background-color: #f3f3f3;
}

#myTabContent {
    width: calc(100vw);
    display: flex;
    justify-content: center;
}

.gallery-grid {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 20vw);
    grid-template-rows: repeat(7, 20vw);
    gap: 10px;
}

.gallery-card {
width: 100%;
aspect-ratio: 1;
overflow: hidden;
}

.card-image-wrapper {
height: 600px;
will-change: transform;
}

.card-image {
width: 100%;
height: 100%;
object-fit: cover;
}

.footer {
    position: relative;
    bottom: 0;
    display: flex !important;
    gap: 20px;
    align-items: flex-end;
    padding: 20px 40px;
    margin: 0 auto;
    justify-content: space-between;
    max-width: calc(100vw - 6em);
    width: 100%;
    max-height: 200px;
    margin-top: -60px !important;
    background-color: white;
}

.footer-col {
    width: calc((100% - 100px) / 6);
}

.footer-info {
    display: block !important;
}

.footer div {
    display: flex;
    align-content: end;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-content: end;
}

.footer-links {
    text-decoration: none;
    color: var(--text);
    margin-bottom: 2px;
}

.link {
    width: fit-content;
    position: relative;
    overflow: hidden;
    height: 14px;
    pointer-events: all;
    user-select: none;
}

.links-line-break {
    display: none !important;
}

.link-content {
    color: var(--text);
    text-decoration: none;
    cursor: pointer;
    pointer-events: all;
}

.link-underline {
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
    user-select: none;
}

.copyright {
    width: calc((100% - 20px) / 2);
    text-align: right;
    justify-content: right;
}

@media screen and (max-width: 1439px) {
    .hero-col {
        width: calc((100% - 3em) / 3.5)
    }

    .hero-add {
        display: none !important;
    }

    .footer {
            max-width: calc(100vw - 6em);
            width: 100%;
        }

    .footer-col {
        width: calc((100% - 4.5em) / 4)
    }
}

@media screen and (max-width: 1209px) {
    .hero-col {
        width: calc((100% - 40px) / 3)
    }

    .footer {
        max-width: calc(100vw - 6em);
        width: 100%;
    }

    .footer-col {
        width: calc((100% - 20px) / 2)
    }
}

@media screen and (max-width: 979px) {
    .hero-col {
        width: calc((100% - 30px) / 2.5)
    }

    .footer {
        align-items: flex-start;
        flex-wrap: wrap;
        max-width: calc(100vw - 6em);
        width: 100%;
    }

    .footer-col {
        width: 100%
    }

    .footer-links {
        width: fit-content;
        margin-top: 4px;
    }

    .copyright {
        width: 50%;
        margin-left: auto
    }
    
}

@media screen and (max-width: 749px) {
    .hero-col {
        width: calc((100% - 20px) / 2)
    }

    .footer {
        max-width: calc(100vw - 6em);
        width: 100%;
    }
}

@media screen and (max-width: 660px) {
    .break-line {
        display: none;
    }
}

@media screen and (max-width: 634px) {
    .hero {
        padding: 120px 20px 140px 20px
    }

    .hero-col {
        width: calc((100% - 20px) / 2)
    }

    .footer {
        max-width: calc(100vw - 6em);
        width: 100%;
    }
}

@media screen and (max-width: 479px) {
    .logo-underlay {
        height: 30px;
    }

    .hero-content {
        flex-direction:column
    }

    .hero-col {
        width: 100%
    }

    .footer {
        max-width: calc(100vw - 4em);
        width: 100%;
        margin: 0 auto;
        margin-top: -200px;
        padding: 0;
    }
}

@media screen and (max-width: 378px) {
    .links-line-break {
        display: block !important;
    }
}
